html , body{
  width: 100%;
  overflow-x: hidden;
  letter-spacing: 0.05em;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size-adjust: 100%;
  color: #414042;
}

img{
display: block;
max-width: 100%;
}

li{
  text-align: center;
  list-style: none;
  cursor: pointer;
  padding: 1rem .5rem;
}

h3{
  color: #da291c;
}

p{
  line-height: 1.5;
}

i{
  font-size: 1.2rem;
  vertical-align: middle;
  font-weight: lighter;
}
