.header-mobile{
  display:grid;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 17;
  width: 100%;
  overflow-y: hidden;
  &__nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    background-color: #da291c;
    position: fixed;
    width: 100%;
    i{
      padding: 1rem;
      font-size: 1.3rem;
      color: #fff;
      transform: scaleX(1.5);
    }
    div{
      align-self: center;
    }
    &--search{
      text-align: right;
    }
  }

  &__expanded{
    display:block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.show-mobile__menu{

  margin-top: 66px;
  display: block;
  background-color: #fff;
  height: auto;
  width: 100%;
  visibility:visible;
  transition: all .8s ease-out;
  ul{
    display:block;
    width: 80%;
    background-color: #eee;
    border-bottom: 1px solid #fff;
    margin: 1rem auto;
    li{
      display: grid;
      grid-template-columns: 4fr 1fr;
      text-align: left;
      width: 90%;
      border-bottom: 1px solid #fff;
      a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
      i:hover, a:hover{
        color: #da291c;
      }
    }
  }
  div ul{
    background-color: #fff;
    a{
      text-decoration: none;
    }
    a:nth-of-type(2){
      color: #da291c;
    }
    select{
      bottom: 100%;
      top: 0;
    }
  }
}
.sublinks-mobile{
  display: block;
  height: 0;
  opacity: 0;
}

.show-dropdown__links{
  margin-top: 25px;
  display: block;
  height: 14rem;
  opacity: 1;
  transition: all .5s ease-out;
  span{
    display: block;
    height: 1.5rem;
    a{
      color: #bbb;
      font-weight: 300;
    }
  }
}

@media only screen and (min-width:768px) {
  .header-mobile{
    display: none;
  }
}
